# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Global's files
GPATH
GRTAGS
GSYMS
GTAGS

# Genereted files to compile Einherjar
autotool/
/common.h
/common.h.prev
/config.h
einherjar.iso
/Makefile.common
/Makefile.config
